  /* *{
    font-family: 'Trebuchet MS', sans-serif;
  }
 .logo-box h1{
   color: white;
 }

 .navbar-box{
   display: flex;
   justify-content: space-around;
   background-color: rgba(0, 0, 0, 0.8);
 }
 .btn-contact{
   padding: 10px 15px 10px 15px;
   font-size: 20px;
   border-radius: 25px;
   border: 0px;
   margin-top: 20px;
   background-color: rgba(0, 166, 255, 0.85);
 }
 .links-box{
   display: flex;
   width:50%;
   margin-top: 10px;
   justify-content: space-evenly;
   color: white;
   font-size: 18px;
 } */